<!DOCTYPE html>
<html>
<head>
    <title>Detalle de la Nutricion</title>
    <link rel="stylesheet" href="/css/styleDetailsNutrition.css">
    <script>
        function deleteNutrition(){
            let confirmation = confirm('¿Estás seguro de querer eliminar esta nutricion?');
            if(confirmation){
                window.location.href = "/nutritions/delete/{{nutrition.id}}";
            }
        }

        function subscribeNutrition(){
            let confirmation = confirm('¿Estás seguro de querer suscribirte a esta dieta?');
            if(confirmation){
                window.location.href = "/nutritions/subscribe/{{nutrition.id}}";
            }
        }

        function unSubscribeNutrition(){
            let confirmation = confirm('¿Estás seguro de querer desuscribirte de esta dieta?');
            if(confirmation){
                window.location.href = "/nutritions/unsubscribe/{{nutrition.id}}";
            }
        }
    </script>
</head>
<body>
<header>
    <nav>
        <a href="/index" style="text-decoration: none;">
            <h2 class="logo"></h2>
        </a>
        <ul>
            {{#canEdit}}
                <a href="/nutritions/editNutrition/{{nutrition.id}}">Editar Nutricion</a>
                <a onclick="deleteNutrition()">Eliminar Nutricion</a>
            {{/canEdit}}
            {{#logged}}
                {{^admin}}
                    {{#subscribed}}
                        <a onclick="unSubscribeNutrition()">DESUSCRIBIRSE</a>
                    {{/subscribed}}
                    {{^subscribed}}
                        <a onclick="subscribeNutrition()">SUSCRIBIRSE</a>
                    {{/subscribed}}
                {{/admin}}
            {{/logged}}
            <a href="/nutritions">Volver</a>
        </ul>
    </nav>
</header>
<div class="details">
    <div class="blackSpace"></div>
    <div class="attributes">
        <h1>Nutricion {{nutrition.id}} - {{nutrition.name}}</h1>
        <p>Nombre: {{nutrition.name}}</p>
        <p>Tipo: {{nutrition.type}}</p>
        <p>Alimentos:</p>
        <ul class="ul">
            {{#nutrition.listFoods}}
                <li class="li">{{this.name}}</li>
            {{/nutrition.listFoods}}
        </ul>
        <br><br>
        {{#canEdit}}
            <a href="/listFoods/{{nutrition.id}}" class="buttonBlue">Editar alimentos</a>
        {{/canEdit}}
        <br><br>
    </div>
    <div class="blackSpace"></div>
</div>
</body>
</html>