<!DOCTYPE html>
<html>
<head>
    <title>Mi lista de dietas</title>
    <link rel="stylesheet" href="/css/styleListNutrition.css">
</head>
<body>
<header>
    <nav>
        <a href="/index" style="text-decoration: none;">
            <h2 class="logo"></h2>
        </a>
        <ul>
            {{#logged}}
                <a href="/nutritions/createNutrition"><li>CREAR DIETA</li></a>
            {{/logged}}

            <a href="/nutritions"><li>ATRAS</li></a>
        </ul>
    </nav>
</header>
<div class="listNutrition">
    <div class="blackSpace"></div>
    <div class="list">
        <h2>Lista de nutriciones suscritas</h2>
        <ul>
            {{#nutritions}}
                <li>
                    <a href="/nutritions/{{this.id}}">{{this.name}}</a>
                </li>
            {{/nutritions}}
        </ul>
    </div>
    <div class="blackSpace"></div>
</div>
</body>
</html>