<!DOCTYPE html>
<html>
<head>
    <title>Mi lista de rutinas</title>
    <link rel="stylesheet" href="/css/styleRoutines.css">
</head>
<body>
<header>
    <nav>
        <a href="/index" style="text-decoration: none;">
            <h2 class="logo"></h2>
        </a>
        <ul>
            {{#logged}}
                <a href="/trainings/createTraining"><li>CREAR RUTINA</li></a>
            {{/logged}}

            <a href="/trainings"><li>ATRAS</li></a>
        </ul>
    </nav>
</header>
{{^trainings}}
    <p class="noRoutines">Todavia no se han agregado rutinas</p>
{{/trainings}}
<div class="listNutrition">
    <div class="blackSpace"></div>
    <div class="list">
        <h2>Lista de rutinas suscritas</h2>
        <ul>
            {{#trainings}}
                <li>
                    <a href="/trainings/{{this.id}}">{{this.name}}</a>
                </li>
            {{/trainings}}
        </ul>
    </div>
    <div class="blackSpace"></div>
</div>
</body>
</html>