<!DOCTYPE html>
<html>
<head>
    <title>Datos de la Rutina</title>
    <link rel="stylesheet" href="/css/styleShowRoutine.css">
    <script>
        function deleteRoutine(){
            let confirmation = confirm('¿Estás seguro de querer eliminar esta rutina?');
            if(confirmation){
                window.location.href = "/trainings/delete/{{training.id}}";
            }
        }

        function subscribeTraining(){
            let confirmation = confirm('¿Estás seguro de querer suscribirte a esta rutina?');
            if(confirmation){
                window.location.href = "/trainings/subscribe/{{training.id}}";
            }
        }

        function unSubscribeTraining(){
            let confirmation = confirm('¿Estás seguro de querer desuscribirte de esta rutina?');
            if(confirmation){
                window.location.href = "/trainings/unsubscribe/{{training.id}}";
            }
        }
    </script>
</head>
<body>
<header>
    <nav>
        <a href="/index" style="text-decoration: none;">
            <h2 class="logo"></h2>
        </a>
        <ul class="list">
            {{#canEdit}}
                <a href="/trainings/editTraining/{{training.id}}">Editar Rutina</a>
                <a onclick="deleteRoutine()" >Eliminar Rutina</a>
            {{/canEdit}}
            {{#logged}}
                {{^admin}}
                    {{#subscribed}}
                        <a onclick="unSubscribeTraining()">DESUSCRIBIRSE</a>
                    {{/subscribed}}
                    {{^subscribed}}
                        <a onclick="subscribeTraining()">SUSCRIBIRSE</a>
                    {{/subscribed}}
                {{/admin}}
            {{/logged}}
            <a href="/trainings">Volver a las rutinas</a>
        </ul>
    </nav>
</header>
<div class="details">
    <div class="blackSpace"></div>
    <div class="attributes">
        <h1>Rutina {{training.id}} - {{training.name}}</h1>
        <p>Nombre: {{training.name}}</p>
        <p>Intensidad: {{training.intensity}}</p>
        <p>Duración: {{training.duration}}</p>
        <p>Ejercicios:</p>
        <p>{{training.exercises}}</p>
        <p>Objetivo: {{training.goal}}</p>
    </div>
    <div class="blackSpace"></div>
</div>
</body>
</html>